---
import AvatarList from "./AvatarList.astro";
const { path } = Astro.props;
---

<footer class="footer">
	<div class="group-1">---
		import AvatarList from "./AvatarList.astro";
		const { path } = Astro.props;
		---
		
		<footer class="footer">
			<div class="group-1">
				<div class="box">
					<figure>
						<a href="/en/landing-page">
							<img src="../../public/next-logo.svg">
						</a>
					</figure>
				</div>
				<div class="box">
					<h2>ABOUT US</h2>
					<a style="text-decoration: none; padding: 10px 0px 10px 0px; color: white;" href="https://github.com/reitmas32/Next/graphs/contributors" target="_blank"><p>Contributors</p></a>
					<a style="text-decoration: none; padding: 10px 0px 10px 0px; color: white;" href="https://github.com/reitmas32/Next/issues" target="_blank"><p>Future versions</p></a>
					<a style="text-decoration: none; padding: 10px 0px 10px 0px; color: white;" href="https://github.com/reitmas32/Next/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank"><p>Report Bugs</p></a>
				</div>
				<div class="box">
					<h2>FOLLOW US</h2>
					<div class="social-net">
						<a href="https://github.com/reitmas32/Next" class="fa-brands fa-github"  target="_blank"></a>
						<!--
							<a href="#" class="fa-brands fa-discord"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-youtube"></a>
						-->
					</div>
				</div>
			</div>
			<div class="group-2">
				<small>Copyright © 2022 Next Project. All rights reserved.</small>
			</div>
		</footer>
		
		<style>
				.footer {
					width: 100%;
					background-color: #0a141d;
				}
		
				.footer .group-1 {
					width: 100%;
					max-width: 1200px;
					margin: auto;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 50px;
					padding: 45px 0px;
				}
		
				.footer .group-1 .box figure {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
		
				.footer .group-1 .box figure img {
					width: 250px;
				}
		
				.footer .group-1 .box h2 {
					color: #fff;
					margin-bottom: 25px;
					font-size: 20px;
				}
		
				.footer .group-1 .box p {
					color: #efefef;
					margin-bottom: 10px;
				}
		
				.footer .group-1 .social-net a {
					display: inline-block;
					text-decoration: none;
					width: 45px;
					height: 45px;
					line-height: 45px;
					color: #fff;
					margin-right: 10px;
					background-color: #0d2033;
					text-align: center;
					transition: all 300ms ease;
				}
		
				.footer .group-1 .social-net a:hover {
					color: aqua;
				}
		
				.footer .group-2 {
					background-color: #0a1a2a;
					padding: 15px 10px;
					text-align: center;
					color: #fff;
				}
		
				.footer .group-2 small {
					font-size: 15px;
				}
		
				@media screen and (max-width:800px) {
					.footer .group-1 {
						width: 90%;
						grid-template-columns: repeat(1, 1fr);
						grid-gap: 30px;
						padding: 35px 0px;
					}
				}
		</style>
		
		<script src="https://kit.fontawesome.com/a5a99f2176.js" crossorigin="anonymous"></script>
		<div class="box">
			<figure>
				<a href="/en/landing-page">
					<img src="../../public/next-logo.svg" alt="Logo de SLee Dw">
				</a>
			</figure>
		</div>
		<div class="box">
			<h2>ABOUT US</h2>
			<a style="text-decoration: none; padding: 10px 0px 10px 0px; color: white;" href="https://github.com/reitmas32/Next/graphs/contributors" target="_blank"><p>Contributors</p></a>
			<a style="text-decoration: none; padding: 10px 0px 10px 0px; color: white;" href="https://github.com/reitmas32/Next/pulls" target="_blank"><p>Future versions</p></a>
			<a style="text-decoration: none; padding: 10px 0px 10px 0px; color: white;" href="https://github.com/reitmas32/Next/pulls" target="_blank"><p>Report Bugs</p></a>
		</div>
		<div class="box">
			<h2>FOLLOW US</h2>
			<div class="social-net">
				<a href="https://github.com/reitmas32/Next" class="fa-brands fa-github"  target="_blank"></a>
				<!--
					<a href="#" class="fa-brands fa-discord"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-youtube"></a>
				-->
			</div>
		</div>
	</div>
	<div class="group-2">
		<small>Copyright © 2022 Next Project. All rights reserved.</small>
	</div>
</footer>

<style>
		.footer {
			width: 100%;
			background-color: #0a141d;
		}

		.footer .group-1 {
			width: 100%;
			max-width: 1200px;
			margin: auto;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px;
			padding: 45px 0px;
		}

		.footer .group-1 .box figure {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.footer .group-1 .box figure img {
			width: 250px;
		}

		.footer .group-1 .box h2 {
			color: #fff;
			margin-bottom: 25px;
			font-size: 20px;
		}

		.footer .group-1 .box p {
			color: #efefef;
			margin-bottom: 10px;
		}

		.footer .group-1 .social-net a {
			display: inline-block;
			text-decoration: none;
			width: 45px;
			height: 45px;
			line-height: 45px;
			color: #fff;
			margin-right: 10px;
			background-color: #0d2033;
			text-align: center;
			transition: all 300ms ease;
		}

		.footer .group-1 .social-net a:hover {
			color: aqua;
		}

		.footer .group-2 {
			background-color: #0a1a2a;
			padding: 15px 10px;
			text-align: center;
			color: #fff;
		}

		.footer .group-2 small {
			font-size: 15px;
		}

		@media screen and (max-width:800px) {
			.footer .group-1 {
				width: 90%;
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 30px;
				padding: 35px 0px;
			}
		}
</style>

<script src="https://kit.fontawesome.com/a5a99f2176.js" crossorigin="anonymous"></script>